
/* Using container queries to reference the parent (container) element and modify the CSS class based on it. */
.main {
    /* container: main / inline-size */
    container-type: inline-size;
    container-name: main;
}

.coponent {
    color: red;
    
    @container main (min-width: 40em) {
        color: blue;
    }
}

/* Container Unit types
  Unit    Relative to
  cqb     1% of a query container's block size
  cqh     1% of a query container's height
  cqi     1% of a query container's inline size
  cqmax   The larger value of cqi or cqb
  cqmin   The smaller value of cqi or cqb
  cqw     1% of a query container's width

*/


/* Resources:
  - CSS Container Queries (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries)
  - @container (https://developer.mozilla.org/en-US/docs/Web/CSS/@container)

*/
